@import 'node_modules/bootstrap/scss/bootstrap';

@import "fonts";
@import "variables";

@import "calendar";

body {
    color: $color-white;
    background: url('../assets/snowflakes_background.jpg');
    font-family: $font-family-poppins;
}